<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>SOLEX</title>

<link rel="stylesheet" th:href="@{/css/code/code.css}">

</head>
<body>
	<th:block layout:fragment="content">
		<!-- 콘텐츠 영역 -->
		<div class="custom-body content-area container-xxl flex-grow-1 container-p-y">
			<!-- 공통코드 영역 -->
			<div id="code-area" class="code">
				<h3 class="c-title">공통코드</h3>
				
				<!-- 컨트롤 영역 -->
				<div class="controll-area">
					<input id="code-search" class="searchIp" type="text" placeholder="코드/항목명/설명으로 검색">
					
					<div class="btn-area">
						<button id="code-add" class="add-btn">추가</button>
						<button id="code-save" class="save-btn">저장</button>
						<button id="code-delete" class="delete-btn">삭제</button>
					</div>
				</div>
				
				<!-- 그리드 영역 -->
				<div class="grid-area">
					<div id="code-grid"></div>
				</div>
				
			</div>
			
			<!-- 상세공통코드 영역 -->
			<div id="codeDetail-area" class="code">
				<h3 class="c-title">상세공통코드</h3>
				
				<!-- 컨트롤 영역 -->
				<div class="controll-area">
					<input id="codeDetail-search" class="searchIp" type="text" placeholder="상세코드/항목명으로 검색">
					
					<div class="btn-area">
						<button id="codeDetail-add" class="add-btn">추가</button>
						<button id="codeDetail-save" class="save-btn">저장</button>
						<button id="codeDetail-delete" class="delete-btn">삭제</button>
					</div>
				</div>
				
				<!-- 그리드 영역 -->
				<div class="grid-area">
					<div id="codeDetail-grid"></div>
				</div>
			</div>
		</div>
	</th:block>
	
	<th:block layout:fragment="script">
		<script th:src="@{/js/code/codeList.js}"></script>
		<script th:src="@{/js/code/codeModify.js}"></script>
		<script th:src="@{/js/code/codeDetailList.js}"></script>
		<script th:src="@{/js/code/codeDetailModify.js}"></script>
	</th:block>
</body>
</html>