<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>SOLEX</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" th:href="@{/css/approval/approvalDrafts.css}" />
</head>
<body>
	<!-- 레이아웃을 상속받아 특정 영역에 덮어쓸 프래그먼트 설정 -->
	<th:block layout:fragment="content">
		<div class="custom-body container-xxl flex-grow-1 container-p-y">
			<h2 style="margin-bottom: 1.5rem;">결재 목록</h2>

			<!-- 상세 모달 -->
			<div class="modal fade" id="detailModal" tabindex="-1"
				aria-labelledby="detailModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h2 class="modal-title" id="detailModalLabel">기안서 결재</h2>
						</div>
						<div class="approval-line-container">
							<div class="approval-line">
								<!-- JS will dynamically populate this area -->
							</div>
						</div>
						<!-- 					상세조회 js에서 채움 -->
						<div class="modal-body"></div>
						<div class="modal-footer">
							<button type="button"
									class="btn btn-approve submit-btn"
									data-action="apl_sts_02"
									data-bs-dismiss="modal">
								승인
							</button>
							<button type="button"
									class="btn btn-reject submit-btn"
									data-action="apl_sts_03"
									data-bs-dismiss="modal">
								반려
							</button>
							<button type="button" 
									class="btn btn-secondary"
									data-bs-dismiss="modal">
								닫기
							</button>
						</div>			
					</div>
				</div>
			</div>
			<!-- 본문 영역-->
			<div class="custom-content">
				<div id="grid"></div>
			</div>
		</div>
		<th:block layout:fragment="script">
			<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
			<script th:src="@{/js/approval/approvalDrafts.js}"></script>
			<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		</th:block>
</body>
</html>