<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.solex.process.ProcessMapper">

    <!-- 부서명 리스트 조회 API -->
    <select id="getDepartmentList">
    	SELECT	DET_ID, DET_NM, DET_YN
    	FROM	CODE_DETAIL
    	WHERE	COD_ID = 'dep_mes'
    	AND		DET_YN = 'y'
    </select>
    
    <!-- 품질검사명 리스트 조회 API -->
    <select id="getQualityItemList">
    	SELECT	QUA_ID, QUA_NM, QUA_TYPE
    	FROM	QUALITY_ITEM
    	WHERE	QUA_TYPE = 'qua_type_03'
    </select>
    
	<!-- 공정정보 리스트 무한스크롤 -->
	<select id="selectPagedProcessList" resultType="map">
	    SELECT
			p.prc_id,
			p.PRC_CODE,
			p.prc_nm,
			p.prc_des,
			p.prc_yn,
			p.qua_id,
			q.qua_nm,
			p.det_id,
			c.det_nm
		FROM process p
		JOIN quality_item q ON p.qua_id = q.qua_id
		JOIN code_detail c ON p.det_id = c.det_id
		ORDER BY p.prc_id
		OFFSET #{offset} ROWS FETCH NEXT #{perPage} ROWS ONLY
	</select>

    <select id="selectTotalProcessCount" resultType="int">
        SELECT COUNT(*) FROM PROCESS
    </select>
    
    <!-- 공정 신규 등록 -->
    <insert id="insertProcesses" parameterType="java.util.List">
    	INSERT ALL
    	<foreach collection="list" item="prc">
    		INTO PROCESS (
    			PRC_CODE,
    			DET_ID,
    			PRC_NM,
    			PRC_DES,
    			PRC_YN,
    			QUA_ID
    		) VALUES (
    			#{prc.PRC_CODE},
    			#{prc.DET_NM},
    			#{prc.PRC_NM},
    			#{prc.PRC_DES},
    			#{prc.PRC_YN},
    			#{prc.QUA_ID}
    		)
    	</foreach>
    	SELECT	*	FROM DUAL
    </insert>
    
    <!-- 공정 기존 수정 -->
    <update id="updateprocesses" parameterType="java.util.List">
    	MERGE INTO PROCESS p
	    USING (
	        <foreach collection="list" item="prc" separator="UNION ALL">
	            SELECT
	                #{prc.PRC_CODE} AS PRC_CODE,
	                #{prc.PRC_NM} AS PRC_NM,
	                #{prc.PRC_DES} AS PRC_DES,
	                #{prc.PRC_YN} AS PRC_YN,
	                #{prc.DET_NM} AS DET_ID,     <!-- 가공된 코드값 -->
	                #{prc.QUA_NM} AS QUA_ID      <!-- 가공된 코드값 -->
	            FROM DUAL
	        </foreach>
	    ) src
	    ON (p.PRC_CODE = src.PRC_CODE)
	    WHEN MATCHED THEN
	    UPDATE SET
	        p.PRC_NM = src.PRC_NM,
	        p.PRC_DES = src.PRC_DES,
	        p.PRC_YN = src.PRC_YN,
	        p.DET_ID = src.DET_ID,
	        p.QUA_ID = src.QUA_ID
    </update>
    
    <!-- 제품유형 리스트 무한스크롤 -->
    <select id="selectPagedPrdTypeList" resultType="map">
    	SELECT  DET_ID, DET_NM
		FROM    CODE_DETAIL
		WHERE   COD_ID = 'prd_type'
		AND		DET_YN = 'y'
		ORDER BY DET_ID
		OFFSET #{offset} ROWS FETCH NEXT #{perPage} ROWS ONLY
    </select>

	<select id="selectTotalPrdTypeCount">
		SELECT	COUNT(DET_ID)
		FROM	CODE_DETAIL
		WHERE	COD_ID = 'prd_type'
		AND		DET_YN = 'y'
	</select>
	
	<!-- 유형별 공정순서 조회 -->
	<select id="getTypeProcessList" resultType="map">
		SELECT
            t.pcp_id,
            t.prd_type,
            t.prc_id,
            t.pcp_seq,
            p.PRC_CODE,
            p.prc_nm,
            p.prc_des
        FROM
            type_process t
            JOIN process p ON t.prc_id = p.prc_id
        WHERE
            t.prd_type = #{prdType}
        ORDER BY
            t.pcp_seq
	</select>
	
	<!-- 공정리스트 조회 -->
	<select id="selectAllProcesses">
		SELECT PRC_ID, PRC_CODE, PRC_NM, PRC_DES
		FROM PROCESS
	</select>

</mapper>