<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.solex.material.MaterialMapper">

<!-- 	자재 가져오기  -->
	<select id="getMaterial" resultType="map">
		SELECT 
			mat_id as "matId",
			cli_id as "cliId",
			mat_cd as "matCd",
			mat_nm as "matNm",
			cd.det_nm as "matUnit",
			mat_price as "matPrice",
			mat_comm as "matComm",
			mat_reg_date as "matRegDate",
			mat_mod_date as "matModDate",
			mat_is_active as "matIsActive"
		FROM material m 
		left join code_detail cd 
		on m.mat_nm = cd.det_nm
		ORDER BY mat_id DESC
	</select>
	
<!-- 	자재 가져오기 -->
	<select id="getMaterialList" resultType="map">
		SELECT 
			mat_id as "matId",
			cli_id as "cliId",
			mat_cd as "matCd",
			mat_nm as "matNm",
			cd.det_nm as "matUnit",
			TO_CHAR(mat_price, 'FM999,999,999') as "matPrice",
			mat_comm as "matComm",
			TO_CHAR(mat_reg_date,'yyyy-MM-dd') as "matRegDate",
			TO_CHAR(mat_mod_date,'yyyy-MM-dd') as "matModDate",
			mat_is_active as "matIsActive"
		FROM material m 
		left join code_detail cd 
		on m.mat_unit = cd.det_id
		ORDER BY mat_id DESC
		OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
	</select>
	
<!-- 	등록에서 공통코드(자재단위) 가져오기 -->
	<select id="getMatUnits" resultType="map">
	    SELECT 
        	det_id,
        	det_nm
	    FROM code_detail
	    WHERE cod_id = 'mat_unit'
	</select>
	
<!-- 	자재등록 -->
	<insert id="registMat">
		INSERT INTO material(
			cli_id, mat_cd, mat_nm, mat_price, mat_unit, 
			mat_comm, mat_is_active
			) VALUES (
			#{cliId, jdbcType=NUMERIC},
			#{matCd, jdbcType=VARCHAR},
			#{matNm, jdbcType=VARCHAR},
			#{matPrice, jdbcType=NUMERIC},
			#{matUnit, jdbcType=VARCHAR},
			#{matComm, jdbcType=VARCHAR},
			'Y'
		)
	</insert>
	
<!-- 	자재수정 -->
	<update id="updateMatPrice">
		UPDATE material
		SET mat_price = #{mat_price}
		WHERE mat_id = #{mat_id}
	</update>
	
	<update id="updateMatComm">
		UPDATE material
		SET mat_comm = #{mat_comm}
		WHERE mat_id = #{mat_id}
	</update>
	
	<update id="updateMatIsActive">
		UPDATE material
		SET mat_is_active = #{mat_is_active}
		WHERE mat_id = #{mat_id}
	</update>
	
	<update id="updateGridCell" parameterType="java.util.Map">
		UPDATE material
		SET ${n} = #{v}
		WHERE mat_id = #{matId}
    </update>
    
    <select id="getMeterialNameList" resultType="map">
		SELECT 
			mat_id as id,
			mat_nm as name
		FROM material
	</select>
	
</mapper>