<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.solex.material.MaterialMapper">
	<select id="getMeterialNameList" resultType="map">
		SELECT 
			mat_id as id,
			mat_nm as name
		FROM material
	</select>
</mapper>