<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>SOLEX</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" th:href="@{/css/stock/stockDrafts.css}" />
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
	<!-- 레이아웃을 상속받아 특정 영역에 덮어쓸 프래그먼트 설정 -->
	<th:block layout:fragment="content">
		<div class="custom-body container-xxl flex-grow-1 container-p-y">
			<h2 style="margin-bottom: 0;">재고 목록</h2>
			
			<!-- (2) 창고 등록 모달 -->
			<div class="modal fade" id="warehouseModal" tabindex="-1"
				aria-labelledby="warehouseModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-scrollable modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h2 class="modal-title" id="warehouseModalLabel">창고 등록</h2>
						</div>

						<div class="modal-body">
  							<!-- ① 창고 기본 정보 -->
							<div class="row mb-3">
								<div class="col">
									<label for="whsName" class="form-label">창고명</label>
									<input type="text" class="form-control" id="whsName" name="whs_nm"
           									placeholder="예: 1공장 창고" required>
								</div>
								<div class="col">
									<label for="whsManager" class="form-label">담당자 사번</label>
									<input type="text" class="form-control" id="whsManager" name="whs_mgr_id"
           									placeholder="예: 2100123" required>
								</div>
							</div>
							<div class="col">
								<label for="whsManager" class="form-label">주소찾기</label>
								  <input type="text" id="sample6_postcode" name="whs_pc" class="form-control d-inline-block w-25" placeholder="우편번호" required>
								  <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
								  <input type="text" id="sample6_address" name="whs_add" class="form-control" placeholder="주소" required>
								  <input type="text" id="sample6_detailAddress" name="whs_da" class="form-control mt-1" placeholder="상세주소" required>
								  <input type="text" id="sample6_extraAddress" placeholder="참고항목">
							</div>
								
							<hr>

							<!-- ② 구역 영역 -->
							<h4 class="mb-2">구역</h4>
							<div id="areaContainer"></div>

							<button type="button" id="addAreaBtn"
							          class="btn btn-outline-primary btn-sm mt-2">
							    + 구역 추가
							</button>
						</div>	

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
						          data-bs-dismiss="modal">닫기</button>
							<button type="button" id="submitWarehouse"
						          class="btn custom-btn-blue">등록</button>
						</div>
					</div>
				</div>
			</div>

			<!-- 상세 모달 -->
			<div class="modal fade" id="detailModal" tabindex="-1"
				aria-labelledby="detailModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h2 class="modal-title" id="detailModalLabel">창고 상세조회</h2>
						</div>
						<div class="approval-line">
							<table class="approval-table ms-auto">
								<thead>
									<tr></tr>
									<!-- JS가 여기에 <th>를 동적으로 추가함 -->
								</thead>
								<tbody>
									<tr></tr>
									<!-- JS가 여기에 <td>를 동적으로 추가함 -->
								</tbody>
							</table>
						</div>
						<!-- 					상세조회 js에서 채움 -->
						<div class="modal-body"></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>

			<!-- 본문 영역-->
			<div class="custom-content">
				<div id="grid"></div>
			</div>
		</div>
		<th:block layout:fragment="script">
			<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
			<script th:src="@{/js/stock/stockDrafts.js}"></script>
			<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		</th:block>
</body>
</html>