<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.solex.login.LoginMapper">
<!-- 	사번에 맞는 암호화 비번 들고오기  -->
	<select id="findByEmpNum" parameterType="string" resultType="map">
		SELECT emp_id, emp_pw, emp_pos_cd
		FROM employee
		WHERE emp_num = #{empNum}
	</select>
</mapper>