<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>mypage</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/mypage/mypage_main.js}"></script>
	<link rel="stylesheet" href="./css/mypage/mypage.css" />
</head>
<body>
	<th:block layout:fragment="content">
		<div class="custom-body container-xxl flex-grow-1 container-p-y">
			
			<!-- 본문 영역 여기서부터 작성-->
<!-- 			<div class="custom-content"> -->
<!-- 				<div id="grid"></div> -->
<!-- 			</div> -->
		</div>
	</th:block>


</body>

</html>