<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.solex.sales.OrderMapper">
  <select id="selectPagedOrderDataAsMap" parameterType="Map" resultType="Map">
    SELECT
        prd.prd_cd,
        prd.prd_nm,
        cli.cli_nm,
        cd.det_nm,
        ord.ord_reg_date,
        odd.odd_cnt,
        NVL(odd.odd_add, '') || ' ' || NVL(odd.odd_da, '') AS ODD_ADDRESS,
        TO_CHAR(odd.odd_mod_date, 'YYYY-MM-DD') AS ORD_REG_DATE
    FROM suju_order_detail odd
    JOIN suju_order ord ON odd.ord_id = ord.ord_id
    JOIN client cli ON ord.cli_id = cli.cli_id
    JOIN product prd ON odd.prd_cd = prd.prd_cd
    JOIN code_detail cd ON odd.odd_sts = cd.det_id
    <if test="searchKeyword != null and searchKeyword != ''">
        AND (
            cli.cli_nm LIKE '%' || #{searchKeyword} || '%' OR  -- 거래처명 검색
            prd.prd_nm LIKE '%' || #{searchKeyword} || '%' OR  -- 상품명 검색
            prd.prd_cd LIKE '%' || #{searchKeyword} || '%'     -- 상품코드도 검색에 포함
        )
    </if>
    ORDER BY cd.det_sort asc
    OFFSET #{offset} ROWS
    FETCH NEXT #{limit} ROWS ONLY
</select>


<select id="getSearchClientList" parameterType="Map" resultType="Map">
    SELECT
    	cli_nm, cli_id
    FROM client
    <where>
	  cli_type = 'SELLER'
      <!-- searchKeyword 가 있을 때만 WHERE 절 추가 -->
      <if test="searchKeyword != null and searchKeyword != ''">
        AND LOWER(cli_nm) LIKE '%' || #{searchKeyword} || '%'
      </if>
    </where>
    ORDER BY cli_nm
    OFFSET #{offset} ROWS
    FETCH NEXT #{limit} ROWS ONLY
</select>


  
  <select id="countClientsByEmployeeId" resultType="int">
  	SELECT count(*)
  	FROM client
  	WHERE emp_id = #{emp_id} and cli_type = 'SELLER' 
  </select>
  
  <select id="getSelectClientsByEmployeeId" resultType="Map">
  	SELECT cli_nm
  	FROM client
  	WHERE emp_id = #{emp_id}
  	and cli_type = 'SELLER'
  	ORDER BY cli_nm 
  </select>
  
  <select id="getSelectTop5PopularClients" resultType="Map">
    SELECT
    	cli_nm, cli_id
    FROM (
        SELECT
            cli.cli_nm,cli.cli_id,
            COUNT(suju.cli_id) AS order_count
        FROM client cli 
        JOIN suju_order suju    
        ON cli.cli_id = suju.cli_id
        WHERE cli.cli_type = 'SELLER'    
        GROUP BY
            cli.cli_nm,cli.cli_id
        ORDER BY order_count DESC
    )
    WHERE ROWNUM <![CDATA[ <= ]]> 5
   </select>
   
   <select id="getSelectTop5PopularProducts" resultType="Map">
    SELECT
    	prd_nm, prd_cd
    FROM (
        SELECT
            prd.prd_nm,prd.prd_cd,
            COUNT(odd.prd_cd) AS order_count
        FROM product prd 
        JOIN suju_order_detail odd    
        ON prd.prd_cd = odd.prd_cd
        GROUP BY
            prd.prd_nm,prd.prd_cd
        ORDER BY order_count DESC
    )
    WHERE ROWNUM <![CDATA[ <= ]]> 5
   </select>
   
   
	<select id="getSearchProductList" parameterType="Map" resultType="Map">
	    SELECT
	    	prd_nm, prd_cd
	    FROM product
	    <where>
	      <!-- searchKeyword 가 있을 때만 WHERE 절 추가 -->
	      <if test="searchKeyword != null and searchKeyword != ''">
	        AND LOWER(prd_nm) LIKE '%' || #{searchKeyword} || '%'
	      </if>
	    </where>
	    ORDER BY prd_nm
	    OFFSET #{offset} ROWS
	    FETCH NEXT #{limit} ROWS ONLY
	</select>
	
	
	<select id="getStockCount" resultType="int">
		select 
			stk_cnt
		from stock stk join product prd
		on stk.item_id = prd.prd_cd
		where prd.prd_cd = #{productCode}
	</select>
  
	
  
  
  
</mapper>
