<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.solex.shipments.ShipmentsMapper">
  	<select id="selectPagedOrderDataAsMap" parameterType="Map" resultType="Map">
  	SELECT
		ord.ord_id as ORD_ID, -- 수주 번호
		cli.cli_nm as CLI_NM, -- 거래처명
		cli.cli_ceo as CLI_CEO, -- 거래처 대표자
		cli.cli_phone as CLI_PHONE, -- 거래처 대표자 전화번호
		ord.ord_add || ' ' || ord.ord_da as ORD_ADDRESS, -- 주소		
		odd.odd_sts as ODD_STS,
		cd.det_nm as DET_NM,
		TO_CHAR(ord.ord_mod_date, 'YYYY-MM-DD') AS ORD_MOD_DATE, -- 수정일
		TO_CHAR(ord.ord_end_date, 'YYYY-MM-DD') AS ORD_END_DATE -- 납품 예정일
	FROM suju_order ord
	left JOIN client cli ON ord.cli_id = cli.cli_id
	left join suju_order_detail odd on odd.ord_id = ord.ord_id
	left JOIN product_option opt ON opt.opt_id = odd.opt_id
	left JOIN code_detail cd ON odd.odd_sts = cd.det_id
	WHERE odd.odd_sts in ('odd_sts_05', 'odd_sts_06', 'odd_sts_07', 'odd_sts_08', 'odd_sts_09') -- '수주 등록' 상태인 것들만 조회
    ORDER BY odd.odd_id asc
    OFFSET #{offset} ROWS
    FETCH NEXT #{limit} ROWS ONLY
	</select>
	
	<select id="getOrderDetail" parameterType="Map" resultType="Map">
	<![CDATA[
	SELECT
	    odd.odd_id as ODD_ID,
	    cli.cli_nm as CLI_NM,
	    TO_CHAR(ord.ord_end_date, 'YYYY-MM-DD') AS ORD_END_DATE,
	    prd.prd_nm as PRD_NM,
	    cd2.det_nm as OPT_COLOR,
	    cd3.det_nm as OPT_SIZE,
	    cd4.det_nm as OPT_HEIGHT,
	    odd.odd_cnt as ODD_CNT,
	    NVL((
	        SELECT SUM(ar.are_qty) FROM area ar
	        WHERE ar.item_id = opt.opt_id AND ar.are_type = 'area_type_02' -- 완제품 구역 코드 (가정)
	    ), 0) as STK_CNT,
	    
	    mat.mat_nm as MAT_NM,
	    bom.bom_cnt as BOM_CNT,
	    (bom.bom_cnt * odd.odd_cnt) as TOTAL_BOM_CNT,
	
	    NVL((
	        SELECT SUM(ar.are_qty) FROM area ar
	        WHERE ar.item_id = mat.mat_id AND ar.are_type = 'area_type_01' -- 자재 구역 코드
	    ), 0) as STK_MATERIAL_CNT,

	    CASE
	        WHEN NVL((
	            SELECT SUM(ar.are_qty) FROM area ar
	            WHERE ar.item_id = mat.mat_id AND ar.are_type = 'area_type_01'
	        ), 0) >= (bom.bom_cnt * odd.odd_cnt)
	        THEN '충분'
	        ELSE '부족'
	    END as STK_MATERIAL_STATUS
	FROM suju_order_detail odd
	JOIN suju_order ord ON odd.ord_id = ord.ord_id
	JOIN client cli ON ord.cli_id = cli.cli_id
	JOIN product_option opt ON odd.opt_id = opt.opt_id
	JOIN product prd ON opt.prd_id = prd.prd_id
	LEFT JOIN code_detail cd2 ON opt.opt_color = cd2.det_id
	LEFT JOIN code_detail cd3 ON opt.opt_size = cd3.det_id
	LEFT JOIN code_detail cd4 ON opt.opt_height = cd4.det_id
	-- [수정 4] stock 테이블과의 JOIN 2개 모두 삭제
	-- LEFT JOIN stock stk_1 ON stk_1.item_id = opt.opt_id
	JOIN bom ON bom.opt_id = opt.opt_id
	JOIN material mat ON bom.mat_id = mat.mat_id
	-- LEFT JOIN stock stk_material ON stk_material.item_id = mat.mat_id
	WHERE odd.odd_id = #{odd_id}
	]]>
	</select>


	<!-- 주문 생성 -->
	<insert id="createOrderRequest" parameterType="map" keyProperty="ord_id" keyColumn="ord_id" useGeneratedKeys="true">
		insert into suju_order
		(
			cli_id,
			emp_id,
			ord_reg_date,
			ord_end_date,
			ord_pc,
			ord_add,
			ord_da,
			ord_pay,
			ord_pay_date,
			ord_mod_date,
			pay_type
		)
		values
		(
			#{cli_id},
			#{emp_id},
			SYSDATE + 9/24,
			#{ord_end_date},
			#{ord_pc},
			#{ord_add},
			#{ord_da},
			#{ord_pay},
			#{ord_pay_date},
			SYSDATE + 9/24,
			#{pay_type}
		)
	</insert>

	<!-- 수주상세테이블 등록 -->
	<insert id="createSujuOrderDetail" parameterType="java.util.List">
    INSERT INTO suju_order_detail (
        ord_id, 
        opt_id, 
        odd_cnt,
        odd_sts,
        odd_mod_date,
        odd_isapproval
    )
		<foreach item="item" collection="list" separator="UNION ALL">
			SELECT
				#{item.ord_id},
				(SELECT opt_id from product_option 
				WHERE prd_id = #{item.productCode} 
				and opt_color = #{item.colorCode}
				and opt_size = #{item.sizeCode}
				and opt_height = #{item.heightCode}),
				#{item.quantity},
				#{item.odd_sts},
				SYSDATE + 9/24,
				'n'
			FROM DUAL
		</foreach>
	</insert>
	<!-- 주문 등록 트랜잭션 끝 -->

  
</mapper>
