<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.solex.orderrequest.OrderRequestsMapper">
  <select id="selectPagedOrderDataAsMap" parameterType="Map" resultType="Map">
  	SELECT
		ord.ord_id, -- 수주 번호
		prd.prd_nm, -- 제품명
		prd.prd_cd, -- 제품코드
		cli.cli_nm, -- 거래처명
		odd.odd_cnt, -- 주문 수량
		cd1.det_nm as DET_NM, -- 상태(수주 등록, 자재 요청 , 생산 대기 등등 공통코드)
		cd2.det_nm as OPT_COLOR, -- 상품 색
		cd3.det_nm as OPT_SIZE, -- 상품 사이즈
		cd4.det_nm as OPT_HEIGHT, -- 상품 굽높이
		odd.isapproval,
		TO_CHAR(odd.odd_mod_date, 'YYYY-MM-DD') AS ORD_MOD_DATE, -- 수정일
		TO_CHAR(odd.odd_end_date, 'YYYY-MM-DD') AS ODD_END_DATE -- 납품 예정일
	FROM suju_order ord
	left JOIN suju_order_detail odd ON odd.ord_id = ord.ord_id
	left JOIN client cli ON ord.cli_id = cli.cli_id
	left JOIN product_option opt ON opt.opt_id = odd.opt_id
	left JOIN product prd ON prd.prd_cd = opt.prd_cd
	left JOIN code_detail cd1 ON odd.odd_sts = cd1.det_id
	left JOIN code_detail cd2 ON opt.opt_color = cd2.det_id
	left JOIN code_detail cd3 ON opt.opt_size = cd3.det_id
	left JOIN code_detail cd4 ON opt.opt_height= cd4.det_id
    ORDER BY ord.ord_id asc
    OFFSET #{offset} ROWS
    FETCH NEXT #{limit} ROWS ONLY
</select>
  	
  	
  
  
  
</mapper>
