@charset "UTF-8";

.content-area {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.code {
	padding: 10px;
	width: 50%;
	height: auto;
}

.c-title {
	padding: 10px;
}

.controll-area {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}

.searchIp {
	padding: 5px;
	width: 250px;
	height: 35px;
}

.btn-area {
    display: flex;
    flex-direction: row;
    gap: 15px;
	height: 35px;
}

.add-btn {
	height: 100%;
}

.save-btn {
	height: 100%;
}

.delete-btn {
	height: 100%;
}