<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.solex.boms.BomsMapper">
    <select id="selectTotalBomCount" resultType="java.util.Map">
    	SELECT COUNT(*) 
    	  FROM bom
    	 WHERE opt_id = #{opt_id}
    </select> 
    
    
    <!-- bom 무한스크롤 -->
	<select id="selectBomList" resultType="java.util.Map">
		 SELECT	
		        BOM_ID, 
				OPT_ID, -- 옵션
				MAT_ID, -- 원자재
				BOM_CNT, -- 소모량
				BOM_UNIT, -- 단위
				BOM_COMM, -- 설명
				BOM_REG_DATE, -- 등록일
				BOM_MOD_DATE -- 수정일
						       
		   FROM	bom
		  WHERE	opt_id = #{opt_id}
		 OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
	</select>
    
    
</mapper>	