<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>SOLEX</title>

<link rel="stylesheet" th:href="@{/css/lot/lot.css}">
<link rel="stylesheet" th:href="@{/jsTree/themes/default/style.min.css}" />

</head>
<body>

	<th:block layout:fragment="content">
		
		<div class="custom-body container-xxl flex-grow-1 container-p-y">
		
			<div class="content-area">
			
				<h3>LOT 추적</h3>
				
				<form class="search-area" onsubmit="handleSearch(); return false;">
					<input type="text" id="searchInput" placeholder="lot번호 또는 제품명으로 검색">
					
					<div class="controll-area">
						<div class="select-area">
							<select id="productTypeSelect" class="selectBox">
								<option value="">전체 제품</option>
								<option value="완제품">완제품</option>
								<option value="자재">자재</option>
							</select>
						
							<select id="productCategorySelect" class="selectBox">
								<option value="">전체 품목</option>
								<option value="운동화">운동화</option>
								<option value="워커">워커</option>
							</select>
						</div>
						<div class="btn-area">
							<button class="btn custom-btn-blue" type="submit">검색</button>
							<button class="btn custom-btn-blue" type="button" onclick="resetFilters()">초기화</button>
						</div>
					</div>
				</form>
				
				<div class="lotArea">
					<div class="lotTree-area" id="lotListContainer">
						<p>LOT 계층구조</p>
						<div id="lotTree"></div>
					</div>
					
					<div class="lotDetail-area" id="lotDetailContainer">
						<p>lot상세</p>
					</div>
				</div>
			
			</div>
			
		</div>
	
	</th:block>
	
	<th:block layout:fragment="script">
		<script th:src="@{/jsTree/jstree.min.js}"></script>
		<script th:src="@{/js/lot/lot.js}"></script>
	</th:block>
	
</body>
</html>