<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.solex.area.AreaMapper">
  
	<!-- 단건 INSERT -->
    <insert id="insertArea" 
			parameterType="map"
			useGeneratedKeys="true"
			keyProperty="are_id"
			keyColumn="are_id">
        INSERT INTO area (
            whs_id,
            are_nm,
            are_type,
            item_id,
            are_max,
            are_qty
        ) VALUES (
            #{whs_id},
            #{area_nm},
            #{area_tp},
            #{item_id},
            #{max_cnt},
            #{qty}
        )
    </insert>
    
    <insert id="insertDetail" parameterType="map">
        INSERT INTO area_detail (
            are_id,
            item_id,
            are_det_qty
        ) VALUES (
            #{areaId},
            #{itemId},
            #{qty}
        )
    </insert>
        
    <select id="getDetIdByAreaId" resultType="java.lang.Long">
   		SELECT are_det_id 
   		FROM area_detail
   		WHERE are_id = #{areId}
    </select>
    
    <select id="getWarehouseAreaHistory" resultType="map">
	    -- 분기 1: are_type이 'area_type_01' (자재)인 경우의 쿼리
		SELECT
		    TO_CHAR(wh.whs_his_date, 'YYYY-MM-DD HH24:MI:SS') AS action_time,
		    wh.whs_his_cnt AS quantity,
		    s.det_nm AS status,
		    a.are_type,
		    m.mat_nm AS item_name, -- 자재명
		    cd_unit.det_nm AS unit, -- 자재 단위명
		    NULL AS op_color, -- 상품 옵션용 컬럼 (자리 맞춤)
		    NULL AS op_size, -- 상품 옵션용 컬럼 (자리 맞춤)
		    NULL AS op_height  -- 상품 옵션용 컬럼 (자리 맞춤)
		FROM
		    warehouse_history wh
		    JOIN area_detail ad ON wh.are_det_id = ad.are_det_id
		    JOIN area a ON ad.are_id = a.are_id
		    JOIN material m ON ad.item_id = m.mat_id
		    LEFT JOIN code_detail s ON wh.whs_his_sts = s.det_id
		    LEFT JOIN code_detail cd_unit ON m.mat_unit = cd_unit.det_id -- 자재 단위를 위한 조인
		WHERE
		    ad.are_id = #{areaId}
		    AND a.are_type = 'area_type_01'
		
		UNION ALL
		
		-- 분기 2: are_type이 'area_type_02' (상품)인 경우의 쿼리
		SELECT
		    TO_CHAR(wh.whs_his_date, 'YYYY-MM-DD HH24:MI:SS') AS action_time,
		    wh.whs_his_cnt AS quantity,
		    s.det_nm AS status,
		    a.are_type,
		    p.prd_nm AS item_name, -- 상품명
		    cd_unit.det_nm AS unit, -- 상품 단위명 (추가)
		    cd_color.det_nm AS op_color, -- 상품 색상명
		    cd_size.det_nm AS op_size, -- 상품 사이즈명
		    cd_height.det_nm AS op_height  -- 상품 높이명
		FROM
		    warehouse_history wh
		    JOIN area_detail ad ON wh.are_det_id = ad.are_det_id
		    JOIN area a ON ad.are_id = a.are_id
		    JOIN product_option po ON ad.item_id = po.opt_id
		    JOIN product p ON po.prd_id = p.prd_id
		    LEFT JOIN code_detail s ON wh.whs_his_sts = s.det_id
		    LEFT JOIN code_detail cd_unit ON p.prd_unit = cd_unit.det_id -- 상품 단위를 위한 조인 (추가)
		    LEFT JOIN code_detail cd_color ON po.opt_color = cd_color.det_id
		    LEFT JOIN code_detail cd_size ON po.opt_size = cd_size.det_id
		    LEFT JOIN code_detail cd_height ON po.opt_height = cd_height.det_id
		WHERE
		    ad.are_id = #{areaId}
		    AND a.are_type = 'area_type_02'
    
	</select>
	
	<select id="selectStockList" resultType="map">
		SELECT  s.det_nm AS nm, 
				s.det_id AS code,
				SUM(ar.are_qty) AS qty, 
				ar.item_id AS item_id,
				COALESCE(m.mat_nm , p.prd_nm) AS item_nm, 
				u.det_nm AS item_unit
	    FROM area ar
	    LEFT JOIN code_detail s
	           ON ar.are_type = s.det_id
	    LEFT JOIN material m
	           ON ar.are_type = 'area_type_01'
	          AND ar.item_id  = m.mat_id
	    LEFT JOIN product  p
	           ON ar.are_type = 'area_type_02'
	          AND ar.item_id  = p.prd_id
        LEFT   JOIN code_detail  u
        		ON u.det_id = COALESCE(m.mat_unit, p.prd_unit)
        GROUP  BY
	        s.det_nm,
	        s.det_id,
	        ar.item_id,
	        COALESCE(m.mat_nm , p.prd_nm),
	        u.det_nm
	</select>
	
	<select id="getStockDetail" resultType="map">
		SELECT  ar.are_nm AS area_nm, 
				w.whs_nm AS warehouse_nm,
		        ad.item_id AS item_id, 
		        ad.are_det_qty AS qty, 
		        COALESCE(m.mat_nm, pr.prd_nm) AS item_nm,
		        cd_unit.det_nm       AS item_unit,
		        cd_color.det_nm AS op_color,     
		        cd_size.det_nm AS op_size,       
		        cd_height.det_nm AS op_height  
		FROM        area         ar
		JOIN        area_detail  ad
		       ON   ad.are_id   = ar.are_id          
		LEFT JOIN   warehouse	w    
		    ON w.whs_id = ar.whs_id   
		LEFT JOIN   material     m                       
		       ON   ar.are_type = 'area_type_01'          
		      AND   ad.item_id  = m.mat_id
		LEFT JOIN   product         pr
		       ON   ar.are_type = 'area_type_02'
		      AND   ar.item_id  = pr.prd_id
		LEFT JOIN   product_option      po                        
		       ON   ar.are_type = 'area_type_02'         
		      AND   ad.item_id  = po.opt_id
		LEFT JOIN   code_detail     cd_unit
		           ON cd_unit.det_id = COALESCE(m.mat_unit , pr.prd_unit)
		LEFT JOIN   code_detail     cd_color  ON cd_color.det_id  = po.opt_color
		LEFT JOIN   code_detail     cd_size   ON cd_size.det_id   = po.opt_size
		LEFT JOIN   code_detail     cd_height ON cd_height.det_id = po.opt_height
		WHERE  ar.item_id = #{itemId}                           
			AND  ar.are_type = #{type} 
	</select>
</mapper>
