<!DOCTYPE html>
<!-- 개별페이지에서 레이아웃을 상속받기 위해서는 layout:decorate 속성을 통해 상속받을 레이아웃 파일을 지정 -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<!-- 개별 페이지의 <meta> 태그는 불필요(레이아웃 페이지와 중복됨) -->
<!-- <meta charset="UTF-8"> -->
<title>SOLEX</title>
<link rel="stylesheet" th:href="@{/css/operator/operator2.css}" />
<style>
</style>
</head>
<body>
	<!-- 레이아웃을 상속받아 특정 영역에 덮어쓸 프래그먼트 설정 -->
	<th:block layout:fragment="content">
		<div class="custom-body container-xxl flex-grow-1 container-p-y">
  <h2>작업현황</h2>

  <table class="work-table">
    <thead>
      <tr>
        <th>제품코드</th>
        <th>제품명</th>
        <th>옵션 (컬러 / 사이즈 / 굽높이)</th>
        <th>작업지시 수량</th>
        <th>작업완료 수량</th>
        <th>불량 수량</th>
        <th>작업진행률</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="prdCode">PRD001</td>
        <td id="prdName">블랙 앵클부츠</td>
        <td id="prdOption">블랙 / 240mm / 5cm</td>
        <td id="workOrderQty">100</td>
        <td>
          <input type="number" id="completeQty" class="work-input" value="0" min="0">
        </td>
        <td>
          <input type="number" id="defectQty" class="work-input" value="0" min="0">
        </td>
        <td>
          <div class="progress">
            <div class="progress-bar" id="progressBar" style="width:0%;">0%</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-end mt-3">
    <button class="btn btn-primary" id="saveBtn">저장</button>
  </div>
</div>
		
		<script th:src="@{/js/operator/worker.js}"></script>
		
	</th:block>
	
	
</body>
</html>