<!DOCTYPE html>
<!-- 개별페이지에서 레이아웃을 상속받기 위해서는 layout:decorate 속성을 통해 상속받을 레이아웃 파일을 지정 -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<!-- 개별 페이지의 <meta> 태그는 불필요(레이아웃 페이지와 중복됨) -->
<!-- <meta charset="UTF-8"> -->
<title>SOLEX</title>
<link rel="stylesheet" th:href="@{/css/operator/operator.css}" />
<style>
</style>
</head>
<body>
	<!-- 레이아웃을 상속받아 특정 영역에 덮어쓸 프래그먼트 설정 -->
	<th:block layout:fragment="content">
		<div class="custom-body worker-dashboard container-xxl flex-grow-1 container-p-y">
			<h2>작업현황</h2>
			<!-- 사원 정보 -->
			<div class="employee-info">
			  <span><strong>소속팀 : </strong> <span id="depNm">-</span></span>
			  <span><strong>사번 : </strong> <span id="empNum">-</span></span>
			  <span><strong>사원명 : </strong> <span id="empNm">-</span></span>
			</div>
			
			<!-- 제품 정보 -->
			<div class="info-section">
				<div class="work-card">
					<p class="work-label">작업지시번호</p>
					<p class="work-value" id="wpoId">-</p>
				</div>
				<div class="info-card">
					<p class="info-label">제품코드</p>
					<p class="info-value" id="prdCode">-</p>
				</div>
				<div class="info-card">
					<p class="info-label">제품명</p>
					<p class="info-value" id="prdName">-</p>
				</div>
				<div class="info-card">
					<p class="info-label">옵션</p>
					<p class="info-value" id="prdOption">-</p>
				</div>
				<div class="work-card">
					<p class="work-label">작업진행률</p>
						<div class="progress" style="height: 20px; position: relative;">
						    <div id="progressBar" class="progress-bar progress-bar-striped bg-success" role="progressbar"
						         style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
						    <span id="progressText" class="progress-text">0%</span>
						</div>
				</div>
				
			</div>
		
			<!-- 작업 정보 및 입력 -->
			<div class="work-section">
				<div class="work-card">
					<p class="work-label">작업지시 수량</p>
					<p class="work-value" id="wpoOcount">-</p>
				</div>
				<div class="work-card">
					<p class="work-label">현재 공정 완료수량</p>
					<p class="work-value" id="wpoJcount"></p>
				</div>

				<div class="work-card colorbox">
					<p class="work-label">작업완료 수량</p>
					<input type="number" id="completeQty" class="work-input" value="0" min="0">
				</div>
				<div class="work-card colorbox">
					<p class="work-label">비고</p>
					<input type="text" id="wreMemo" class="work-input">
				</div>
						
				<!-- 저장 버튼 -->
				<div class="save-btn-box">
					<button class="btn btn-worker" id="saveBtn">저장</button>
				</div>
			</div>

		<div id="grid"></div>
		</div>
		
		<script th:src="@{/js/operator/worker.js}"></script>
		
	</th:block>
	
	
</body>
</html>