@charset "UTF-8";

.custom-content{
	margin: 40px 100px 40px 100px;
	padding: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/*background-color: lightyellow;*/
	font-size: 1.3em;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.custom-content .cc-day {
	font-size: 1.1em;
}

.custom-content div:nth-child(3){
	position: relative;

}

.custom-content  div:nth-child(3) span{
	font-size: 0.9em;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	white-space: nowrap;
	overflow: hidden;
}
/* 	
.custom-modal-header {
  border-bottom: 1px solid #ccc;
}

.custom-modal-content {
  padding-top : 30px;
  height: 450px;
  line-height: 1.6;
  color: #333;
  min-height: 150px;
}

.custom-modal-detail {
  padding: 10px;
}


.custom-modal-title {
  margin: 0 0 40px 0;
  font-weight: 600;
  font-size: 1.6rem;
  
}

.custom-modal-meta {
  list-style: none;
  padding: 0 40px 0 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 0.95rem;
  color: #555;
}


.custom-modal-meta li {
  margin-bottom: 5px;
  display: flex;
}

.custom-modal-meta li span {
	display: inline-block;
}

.custom-modal-meta li strong {
	margin-right: 30px;
}
 */