<!DOCTYPE html>
<!-- 개별페이지에서 레이아웃을 상속받기 위해서는 layout:decorate 속성을 통해 상속받을 레이아웃 파일을 지정 -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
	<title>SOLEX</title>
	

	<script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
	<script src="https://uicdn.toast.com/tui.dom/v3.0.0/tui-dom.js"></script>

	<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css">
	<link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
	<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
	<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
	<script src="https://uicdn.toast.com/tui.date-picker/latest/locale/ko.js"></script>

	<link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
	<script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/weekday.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/localeData.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/timezone.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/utc.js"></script>

	
	<link rel="stylesheet" th:href="@{/css/document/documentDrafts.css}" />
	<link rel="stylesheet" th:href="@{/css/main/style.css}" />

	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

	<script th:src="@{/js/notice/notice.js}"></script>
 	<script th:src="@{/js/main/calendar.js}"></script> 
	<script th:src="@{/js/main/panels.js}"></script>
	
	

</head>
<body>
	<!-- 레이아웃을 상속받아 특정 영역에 덮어쓸 프래그먼트 설정 -->
	<th:block layout:fragment="content">
		<div class="custom-body container-xxl flex-grow-1 container-p-y">
		<!-- 여기서 부터 작성하시면 됩니다  -->
			<!-- 본문 영역-->
			<div class="custom-content">
			    <!-- ───────── box2 : 달력 + (결재·즐겨찾기) ───────── -->
			    <div class="box2 d-flex gap-3">
			      <!-- 달력 -->
			      <section class="panel calendar flex-grow-1">
			        <header class="calendar-header">
			          <nav class="calendar-nav">
						<button id="prevMonthBtn" class="btn btn-link px-2">
					        <i class="menu-icon tf-icons bx bx-caret-left"></i>
					    </button>

					    <p id="monthLabel" class="m-0 mx-3 fw-bold">2025년&nbsp;6월</p>

					    <button id="nextMonthBtn" class="btn btn-link px-2">
					        <i class="menu-icon tf-icons bx bx-caret-right"></i>
					    </button>
					</nav>
						
					<div class="cate-legend ms-auto">   <!-- ← cate-color → cate-legend  -->
					  <div class="item company"><span></span>회사</div>
					  <div class="item team1"><span></span>팀</div>
					  <div class="item personal"><span></span>개인</div>
					</div>
			        </header>
			        <main id="calendar" class="calendar-area"><!-- Calendar 붙는 곳 --></main>
			        
			      </section>
			
			      <!-- 결재·즐겨찾기 세로 스택 -->
			      <div class="box2Side d-flex flex-column gap-3" style="width:28%;">
					<section class="panel myInfo">
					  <!-- 사진 -->
					  <div class="photo">
					    <img id="emp_img_preview1"
					         src="/SOLEX/assets/img/emp/simple_person_pic.jpg"
					         alt="사원 사진">
					  </div>
					
					  <div class="emp-box">
					    <p class="dept-line">
					      <span id="empDept"></span>
					      <span id="empTeam"></span>
					      <span id="empPos" class="pos"></span>
					    </p>
					
					    <p class="name-line">
					      <span id="empNm" class="name"></span>
					      <span id="empNum" class="emp-id"></span>
					    </p>
					
					    <div class="btn-group">
					      <button type="button" class="btn-mypage" onclick="openMypagePopup(event)">마이페이지</button>
					      <!-- <button type="button" class="btn-logout">로그아웃</button> -->
					    </div>
					    
					    <div class="logout"> 
						    <a href="#" class="dropdown-item"
								onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">
									<i class="bx bx-power-off border border-2 rounded p-1 fs-4"></i>
							</a>
							<form id="logoutForm" action="/SOLEX/logout" method="post"
									style="display: none;"></form>
						</div>
					  </div>
					</section>
					
					<section class="panel notice">
				        <h5 class="panel-title">📢 최근 공지</h5>
					  <span class="text-more mt-1">
					      <a th:href="@{/notice}" class="small">+ 더보기</a>
					  </span>
				        <ul id="noticeList" class="panel-list">

						</ul>
				      </section>
			        <section class="panel approval">
			          <h5 class="panel-title">📝 결재 목록</h5>
			          <span class="text-more mt-1">
					      <a th:href="@{/approval/drafts}" class="small">+ 더보기</a>
					  </span>
			          <ul id="approvalList" class="panel-list">

			          </ul>
			        </section>
			
			        
			      </div>
			    </div><!-- /box2 -->
			
			  </div><!-- /custom-content -->
			</div><!-- /custom-body -->
			
			<!-- 공지사항 모달 -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
			  <div class="modal-dialog modal-dialog-scrollable modal-lg">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">공지사항</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
				  <!-- 모달 내용 표시 -->
			      <div class="modal-body big-box" id="showModal"></div>
				  <!-- 모달 버튼 표시 -->
			      <div class="modal-footer" id="modalFooter"> </div>
			  </div>
			</div>
			</div>
			
			<!-- 기안서 모달 -->
			<div class="modal fade" id="detailModal" tabindex="-1"
				aria-labelledby="detailModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h2 class="modal-title" id="detailModalLabel">기안서 상세조회</h2>
						</div>
						<div class="approval-line">
							<table class="approval-table ms-auto">
								<thead>
									<tr></tr>
									<!-- JS가 여기에 <th>를 동적으로 추가함 -->
								</thead>
								<tbody>
									<tr></tr>
									<!-- JS가 여기에 <td>를 동적으로 추가함 -->
								</tbody>
							</table>
						</div>
						<!-- 					상세조회 js에서 채움 -->
						<div class="modal-body"></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 마이페이지 모달 -->
			<div class="modal fade" id="mypageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-scrollable modal-xl">
					<div class="modal-content">
						<div class="modal-header border-0 pb-1">
							<h3 class="modal-title fw-semibold" id="exampleModalLabel">마이페이지</h3>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<!-- JS에서 이 부분을 채움 -->
						<div class="modal-body pt-0">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
							<button type="submit" class="btn btn-primary" id="mypageModifyBtn">수정</button>
						</div>
					</div>
				</div>
			</div>
	</th:block>

	
</body>
</html>