<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>SOLEX</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" th:href="@{/css/quality/aualityDrafts.css}" />
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
	<!-- 레이아웃을 상속받아 특정 영역에 덮어쓸 프래그먼트 설정 -->
	<th:block layout:fragment="content">
		<div class="custom-body container-xxl flex-grow-1 container-p-y">
			<h2 style="margin-bottom: 0;">품질검사 목록</h2>

			<!-- 본문 영역-->
			<div class="custom-content">
				<div id="grid"></div>
			</div>
		</div>
		
		<th:block layout:fragment="script">
			<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
			<script th:src="@{/js/quality/qualityDrafts.js}"></script>
			<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		</th:block>
</body>
</html>