@charset "UTF-8";

#type-tab {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: flex-end !important;
    gap: 15px;
}

.process-area {
	display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.type-list-area {
	display: flex;
    flex-direction: column;
    gap: 15px;
	width: 50%;
	height: auto;
}

.typeProcess-area {
	display: flex;
    flex-direction: column;
    gap: 15px;
	width: 50%;
	height: auto;
}

.btn-area {
	display: flex;
    justify-content: flex-end;
    gap: 15px;
}