<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.solex.material_orders.MaterialOrdersMapper">

<!-- 	자재 가져오기  -->
	<select id="getMaterialOrders" resultType="map">
		SELECT 
			mat_ord_id as "matOrdId",
			mat_id as "matId",
			emp_id as "empId",
			mat_reg_date as "matRegDate",
			mat_eta_date as "matEtaDate",
			mat_ata_date as "matAtaDate",
			mat_lmd_date as "matLmdDate",
			mat_comm as "matComm"
		FROM material_orders
	</select>
	
</mapper>