<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.solex.material_orders.MaterialOrdersMapper">
	
<!-- 	자재 가져오기  -->
	<select id="getMaterialOrders" resultType="map">
		SELECT 
			mat_ord_id as "matOrdId",
			mat_id as "matId",
			emp_id as "empId",
			mat_qty as "matQty",
			mat_reg_date as "matRegDate",
			mat_eta_date as "matEtaDate",
			mat_ata_date as "matAtaDate",
			mat_lmd_date as "matLmdDate",
			mat_comm as "matComm",
			mat_ord_sts as "matOrdSts"
		FROM material_orders
		ORDER BY mat_ord_id
	</select>
	
	<select id="getMaterialOrderList" resultType="map">
		SELECT 
			mat_ord_id as "matOrdId",
			mat_id as "matId",
			emp_id as "empId",
			mat_qty as "matQty",
			TO_CHAR(mat_reg_date, 'yyyy-MM-dd') as "matRegDate",
			TO_CHAR(mat_eta_date, 'yyyy-MM-dd') as "matEtaDate",
			TO_CHAR(mat_ata_date, 'yyyy-MM-dd') as "matAtaDate",
			TO_CHAR(mat_lmd_date, 'yyyy-MM-dd') as "matLmdDate",
			mat_comm as "matComm",
			mat_ord_sts as "matOrdSts"
		FROM material_orders
		ORDER BY mat_ord_id
	</select>
	
<!-- 	자재발주 등록 -->
	<insert id="materialOrderRegist">
		INSERT INTO material_orders
		(mat_id, mat_qty, mat_reg_date, mat_comm, emp_id)
		VALUES (
		#{matId, jdbcType=NUMERIC},
		#{matQty, jdbcType=NUMERIC},
		#{matRegDate, jdbcType=DATE},
		#{matComm, jdbcType=VARCHAR},
		#{emp_id, jdbcType=VARCHAR}
		)
	</insert>
	
<!-- 	자재 id 가져오기 select_box -->
	<select id="getMatId" resultType="map">
		SELECT mat_id, mat_nm
		FROM material
	</select>
	
<!-- 	창고 목록 가져오기 -->
	<select id="getWarehouse" resultType="map">
		SELECT w.whs_id, w.whs_nm
		FROM warehouse w LEFT OUTER JOIN area a
		ON w.whs_id = a.whs_id
		WHERE a.item_id = #{matId}
		AND a.are_max >= a.are_qty
		GROUP BY w.whs_id, w.whs_nm
	</select>
	
<!-- 	창고 구역 목록 가져오기 -->
	<select id="getArea" resultType="map">
		SELECT a.are_id, a.are_nm
		FROM area a
		WHERE a.whs_id = #{whsId} AND a.item_id = #{matId}
	</select>
	
<!-- 	승인 버튼 누르면 insert - 창고이력 warehouse_history -->
	<insert id="matAppWareHis" parameterType="map">
		INSERT INTO warehouse_history
		(are_det_id, whs_his_sts, whs_his_cnt, whs_his_date) 
		VALUES (#{are_det_id}, 
		'whs_his_sts_01', 
		#{whs_his_cnt}, 
		SYSDATE
		)
	</insert>
	
<!-- 	승인 버튼 누르면 update - 구역 디테일 AreaDetail -->
	<update id="matAppAreaDetail" parameterType="map">
		UPDATE area_detail 
		SET are_det_qty = are_det_qty + #{whs_his_cnt}
		WHERE item_id = #{mat_id}
		AND are_id = #{are_id}
	</update>
	
<!-- 	승인 버튼 누르면 update - 구역 Area -->
	<update id="matAppArea" parameterType="map">
		UPDATE area
		SET are_qty = are_qty + #{whs_his_cnt}
		WHERE are_id = #{are_id}
	</update>
	
<!-- 	승인 버튼 누르면 update - stock_ledger -->
	<insert id="matAppStockLeger">
		INSERT INTO stock_ledger(item_id, warehouse_id, are_id, inbound_at, initial_cnt, remaining_cnt,stk_cat)
		VALUES (
			#{mat_id},
			#{whs_id},
			#{are_id},
			SYSDATE,
			#{whs_his_cnt},
			#{whs_his_cnt},
			'stock_cat_02'
		)
	</insert>
	
	<update id="updateApproval" parameterType="map">
		UPDATE material_orders
		SET mat_ord_sts = 'mat_ord_sts_01'
		WHERE mat_ord_id = #{mat_ord_id}
	</update>
	
	<update id="updateDeny" parameterType="map">
		UPDATE material_orders
		SET mat_ord_sts = 'mat_ord_sts_02'
		WHERE mat_ord_id = #{mat_ord_id}
	</update>
</mapper>