<!DOCTYPE html>
<!-- 개별페이지에서 레이아웃을 상속받기 위해서는 layout:decorate 속성을 통해 상속받을 레이아웃 파일을 지정 -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<!-- 개별 페이지의 <meta> 태그는 불필요(레이아웃 페이지와 중복됨) -->
	<title>자재 관리</title>
	<link rel="stylesheet" th:href="@{/css/emp/emp_main.css}">
	<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/material/material_main.js}"></script>
	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
</head>
<body>
	
	<th:block layout:fragment="content">
		<div class="custom-body container-xxl flex-grow-1 container-p-y">
			
			<h3>자재 목록</h3>
			<div id="global-checkbox-container">
				<button type="button" 
						class="btn custom-btn-blue float-end mb-4" 
						id="RegisterModalBtn" 
						data-bs-toggle="modal" 
						data-bs-target="#exampleModal">
					자재등록
				</button>
			</div>

			<div class="custom-content">
				<div id="grid"></div>
			</div>
		</div>
		
		<!-- 등록모달창 -->
		<div class="modal fade" id="exampleModal" tabindex="-1" 
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable modal-lg">
				<div class="modal-content">
					<div class="modal-header">
			 			<h4 class="modal-title" id="exampleModalLabel">자재 등록</h4>
					</div>
					<div class="modal-body">
						<div class="row mb-3">
							<div class="col">
							  	<label for="matCd" class="form-label" id="labelId">자재코드 <span style="color:red">*</span></label>
							  	<input type="text" class="form-control" id="matCd"
											name="mat_cd" required>
							</div>
							<div class="col">
								<label for="matNm" class="form-label" id="labelId">자재명 <span style="color:red">*</span></label>
								<input type="text" class="form-control" id="matNm"
										name="mat_nm" required>
							</div>
						</div>
						
						<div class="row mb-3">
							<div class="col">
							  	<label for="cliId" class="form-label" id="labelId">거래처 <span style="color:red">*</span></label>
							  	<select id="cliId" class="form-control" name="cli_id" required>
							    	<option value="">-- 거래처를 선택하세요 --</option>
								</select>
							</div>
							<div class="col">
								<label for="matUnit" class="form-label" id="labelId">단위 <span style="color:red">*</span></label>
							  	<select id="matUnit" class="form-control" name="mat_unit" required>
							    	<option value="">-- 단위를 선택하세요 --</option>
								</select>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col">
							  	<label for="matComm" class="form-label" id="labelId">설명 <span style="color:red">*</span></label>
							  	<input type="text" class="form-control" id="matComm"
										name="mat_comm" required  style=" height: 100px; width: 100%;" >
							</div>
						</div>
						<div class="row mb-3">
							<div class="col">
							  	<label for="matPrice" class="form-label" id="labelId">가격 <span style="color:red">*</span></label>
							  	<input type="text" class="form-control" id="matPrice"
										name="mat_price" required>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
					          data-bs-dismiss="modal">닫기</button>
						<button type="button" id="submitMaterial"
					          class="btn custom-btn-blue">등록</button>
					</div>
				</div>
			</div>	
		</div>
	</th:block>
</body>
</html>