<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.solex.equipment.EquipmentMapper">
  	<select id="selectPagedEquipmentDataAsMap" parameterType="Map" resultType="Map">
  	SELECT
		cli.cli_nm as CLI_NM,
		eq.eqp_code as EQP_CODE,
		eq.eqp_name as EQP_NAME,
		eq.eqp_comm as EQP_COMM,
		eq.eqp_price as EQP_PRICE,
		eq.eqp_sts as EQP_STS,
		TO_CHAR(eq.eqp_purchase_date, 'YYYY-MM-DD') AS EQP_PURCHASE_DATE,
		TO_CHAR(eq.eqp_installation_date, 'YYYY-MM-DD') AS EQP_INSTALLATION_DATE,
		prc.prc_nm as PRC_NM
	FROM equipment eq
	left JOIN client cli ON eq.cli_id = cli.cli_id	
	left JOIN process prc ON eq.prc_id = prc.prc_id
    ORDER BY eq.eqp_id asc
    OFFSET #{offset} ROWS
    FETCH NEXT #{limit} ROWS ONLY
	</select>

	<select id="getProcessList" resultType="Map">
	SELECT
		prc.prc_id as PRC_ID,
		prc.prc_nm as PRC_NM
	FROM process prc
	ORDER BY prc.prc_id asc
	</select>

	<select id="getClientList" resultType="Map">
	SELECT
		cli.cli_id as CLI_ID,
		cli.cli_nm as CLI_NM
	FROM client cli
	WHERE cli.cli_type = 'client_cat_03'
	ORDER BY cli.cli_id asc
	</select>

	
	<select id="getOrderDetail" parameterType="Map" resultType="Map">
	<![CDATA[
	SELECT
		odd.odd_id as ODD_ID,
		cli.cli_nm as CLI_NM,
		TO_CHAR(ord.ord_end_date, 'YYYY-MM-DD') AS ORD_END_DATE,
		prd.prd_nm as PRD_NM,
		cd2.det_nm as OPT_COLOR,
		cd3.det_nm as OPT_SIZE,
		cd4.det_nm as OPT_HEIGHT,
		odd.odd_cnt as ODD_CNT,
		stk_1.stk_cnt as STK_CNT,
		mat.mat_nm as MAT_NM,
		bom.bom_cnt as BOM_CNT,
		(bom.bom_cnt * odd.odd_cnt) as TOTAL_BOM_CNT,
		stk_material.stk_cnt as STK_MATERIAL_CNT,
		CASE
			WHEN stk_material.stk_cnt >= (bom.bom_cnt * odd.odd_cnt)
			THEN '충분'
			ELSE '부족'
		END as STK_MATERIAL_STATUS
	FROM suju_order_detail odd
	JOIN suju_order ord ON odd.ord_id = ord.ord_id
	JOIN client cli ON ord.cli_id = cli.cli_id
	JOIN product_option opt ON odd.opt_id = opt.opt_id
	JOIN product prd ON opt.prd_id = prd.prd_id
	LEFT JOIN code_detail cd2 ON opt.opt_color = cd2.det_id
	LEFT JOIN code_detail cd3 ON opt.opt_size = cd3.det_id
	LEFT JOIN code_detail cd4 ON opt.opt_height = cd4.det_id
	LEFT JOIN stock stk_1 ON stk_1.item_id = opt.opt_id
	JOIN bom ON bom.opt_id = opt.opt_id
	JOIN material mat ON bom.mat_id = mat.mat_id
	LEFT JOIN stock stk_material ON stk_material.item_id = mat.mat_id

	WHERE odd.odd_id = #{odd_id}
	]]>
	</select>



	<!-- 승인 로직 -->
	<!-- 재고 조회 -->
	<select id="checkStock" parameterType="Map" resultType="String">
	<![CDATA[
		select
        CASE
        WHEN stk.stk_cnt >= (bom.bom_cnt * odd.odd_cnt * 1.1)
        THEN '충분'
        ELSE '부족'
        END 
        from suju_order_detail odd
        left join bom bom 
        on bom.opt_id = odd.opt_id
        left join stock stk 
        on stk.item_id = bom.mat_id
        where odd.odd_id = #{odd_id}
	]]>
	</select>
	<!-- 총재고 차감 -->
	<update id="updateStock" parameterType="Map">
		<![CDATA[
			MERGE INTO stock s          
			USING (
				SELECT
					b.mat_id,
					CEIL(b.bom_cnt * odd.odd_cnt * 1.1) AS total_cnt
				FROM 
					suju_order_detail odd
				JOIN 
					bom b ON b.opt_id = odd.opt_id
				WHERE 
					odd.odd_id = #{odd_id}
			) source
			ON (s.item_id = source.mat_id)
			WHEN MATCHED THEN           
				UPDATE SET s.stk_cnt = s.stk_cnt - source.total_cnt
		]]>
	</update>
	<!-- 어떤 구역에 선입 선출이 되게 빼야 됨 -->
	
	
	
	<!-- 주문 상세 상태 변경 -->
	<update id="updateOrderStatus" parameterType="Map">
		update suju_order_detail
		set odd_sts = 'odd_sts_02'
		where odd_id = #{odd_id}
	</update>
	<!-- 승인 로직 -->




	
	
	
	<!-- select odd_id , prd_code, prd_nm, odd_cnt,odd_sts, prd_color, prd_size,prd_height, ord_end_date from vw_suju_summary; -->
  <!-- 
  SELECT 
			odd_id,
			odd_cnt,
			odd_sts,
			prd_color,
			prd_size,
			prd_height,
			ord_end_date,
		FROM vw_suju_summary
		WHERE odd_id = #{odd_id} -->
  
  
</mapper>
