<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.solex.attendance.AttendanceMapper">
	<select id="selectAttendenceList" resultType="java.util.Map">
        SELECT
            att_id,
            emp_id,
            att_in_time,
<!--             att_out_time, -->
<!--  			NVL(TO_CHAR(att_out_time, 'YYYY-MM-DD HH24:MI:SS'), '-'), -->
 			NVL(TO_CHAR(att_out_time, 'YYYY-MM-DD HH24:MI:SS'), '-') as att_out_time,
            att_sts,
            att_day
        FROM
            attendance
    </select>
</mapper>	