<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.solex.warehouse.WarehouseMapper">

	<select id="selectWarehouseList" resultType="map">
  		SELECT wh.whs_id, 
  				wh.whs_name
  		FROM warehouse wh
   </select>
   
   <select id="selectWarehouseDetail" resultType="map">
		SELECT wh.whs_id, 
  				wh.whs_name
		  FROM warehouse wh
	</select>
	
	<insert id="insertWarehouse" parameterType="map">
		INSERT INTO approval_line (doc_id, apl_step_no, apl_emp_cat, apl_emp_dep, apl_emp_team, apl_emp_pos)
		VALUES (#{docId}, #{stepNo}, #{catCd}, #{depCd}, #{teamCd}, #{posCd})
     </insert>
     
     <update id="upadteWarehouse" parameterType="map">
	    UPDATE warehouse
	    SET 
	      doc_sts = #{status},
	      doc_app_day = SYSDATE
	    WHERE 
	      doc_id = #{docId}
	      AND
	</update>
  
</mapper>
