<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.solex.workOrder.WorkOrderMapper">
<!-- 	작업지시 조회 -->
	<select id="getWorkList" resultType="map">
		SELECT odd_id
			   , prd_code
			   , prd_nm
			   , odd_cnt
			   , odd_sts
			   , prd_color
			   , prd_size
			   , prd_height
			   , ord_end_date
		  FROM vw_suju_summary -- 뷰테이블
		 WHERE odd_sts IN (
			 '작업 대기',
			 '작업중',
			 '작업 완료',
			 '출고 대기(공장 > 창고)',
			 '창고 대기',
			 '출고 대기(창고 > 거래처)'
		 )
		 ORDER BY odd_id DESC
		OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
	</select>
	
<!-- 	해당 제품코드 등록 모달 조회 -->
	<select id="ProcessTeam" resultType="map">
		SELECT DISTINCT
		       tp.pcp_seq AS step_seq        -- 공정 순서
		       , p.prd_code					 -- 제품 코드
		       , pc.prc_id					 -- 공정 id
		       , pc.prc_nm AS process_name     -- 공정명
		       , e.emp_team_cd AS team_code    -- 팀 코드
		       , ct.det_nm AS team_name         -- 팀 이름
		  FROM product p
		  JOIN type_process tp 
		    ON p.prd_type = tp.prd_type
		  JOIN process pc 
		    ON tp.prc_id = pc.prc_id
		  JOIN code_detail cd 
		    ON pc.det_id = cd.det_id
		  LEFT JOIN employee e 
		    ON pc.det_id = e.emp_dep_cd
		  LEFT JOIN code_detail ct 
		    ON e.emp_team_cd = ct.det_id
		 WHERE p.prd_code = #{prdCd}
		   AND ct.det_nm != '공통'
		 ORDER BY tp.pcp_seq, ct.det_nm
	</select>
	
<!-- 	작업지시 등록 -->
	<insert id="workOrderInsert">
	<selectKey keyProperty="wrk_id" resultType="int" order="BEFORE">
        SELECT work_order_seq.NEXTVAL FROM dual
    </selectKey>
		INSERT INTO work_order (wrk_id,
								prc_id,
			    				odd_id,
			    				prd_cd,
			    				wrk_ord_date
		) VALUES (#{wrk_id},
				  #{prcId},         -- 공정id
			      #{oddId},			-- 주문 id
			      #{prdCd},         -- 주문 cd
			      SYSDATE + 9/24  -- 작업 지시일
		)
	</insert>
<!-- 	작업지시 공정테아블 등록 -->
	<insert id="workProcessInsert">
		INSERT INTO work_process (wrk_id,
			    				  wpo_team,
			    				  wpo_step,
			    				  wpo_ocount,
				    			  wpo_status
		) VALUES (#{wrk_id},    
				  #{teamCode},
				  #{stepSeq},
				  #{oddCnt},
				  <choose>
		            <when test="stepSeq == 1">
		                'wpo_sts_01'
		            </when>
		            <otherwise>
		                'wpo_sts_00'
		            </otherwise>
		        </choose>
		)
	</insert>
	
	<update id="updateSujuOrderSts">
		UPDATE suju_order_detail
	       SET odd_sts = 'odd_sts_03'
	     WHERE odd_id = #{oddId}
	</update>
</mapper>